[submodule "basicloader"]
	path = basicloader
	url = https://github.com/mkuyper/basicloader.git
[submodule "services/fuota/micro-ecc"]
	path = services/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
